input{
    color: white;
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 10px;
    font-family: Karla;
}
input:focus{
    border-bottom: 2px solid white;
}
input:focus-visible {
    outline: none; /* Ensure focus-visible outline is removed */
}
input::placeholder{
    color: rgba(255, 255, 255, 0.3); ;
}